
body{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
    background-color: #f9fafb;
}

.container{
    background-color: white;
    width: 400px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.container h2{
    text-align: center;
}


.form-control{
    margin:20px 0;


    
}
.form-control label{
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px;
}
button{
    background-color: #3498db;
    color: #f9fafb;
    width: 100%;
    text-align: center;
    padding: 10px;
}